body{
background:black;
}
.item__details{
    margin:2% !important;
    text-align: center;
}
/*h3{
    font-family: Gill Sans;
    font-size: 2rem;
    line-height: 1.5;
    padding-bottom: .94995rem;
    font-weight: 500;
    color:black;
    text-align: center;
}
*/
.padma h3 {
    font-size: large;
}
p{
    font-size: 1.1rem;
    padding: 5px 0;
    color:black;
    font-family: century gothic;
    font-size: medium;
    font-weight: 200;
}

.jumbotron h3{
    padding-top: 2%;

    text-align: center;    
    border-radius: 0;
    position:relative;
/*    z-index: 2;
    box-shadow: 0 40px 40px -6px black;*/
}
/*#padma{
    color: white;

}*/
.jumbotron h2{
    padding-top: 10%;
    text-align: center;
    border-radius: 0;
    position:relative;
    font-weight: 40%;
/*    z-index: 2;
    box-shadow: 0 40px 40px -6px black;*/
}

.jumbotron p{
    padding-top: 5%;
    padding-bottom: 10%;
    border-radius: 0;
    margin-left: 10%;
    margin-right: 10%;
    position:relative;
}
.jumbotron{
    padding-left: 0px;
    padding-bottom: 0px;
    padding-top: 0px;
    padding-right: 0px;
    
    border-radius: 0;
    margin-left: 10%;
    margin-right: 10%;
    position:relative;
    z-index: 2;
/*    box-shadow: 0 40px 40px -6px black;*/
}
.jumbotron .padma-shree .padma-pic img{
    padding-left: 0px;
    padding-bottom: 0px;
    padding-top: 0px;
}
.padma-text{
/*    padding:3rem;*/
}
.rajgad{
    width: 100%;
/*    height: 50vh;*/
    margin-left: 0%;
    object-fit: cover;

}


img.img-thumbnail.rajgad {
    background-color: #000;
    border: 0;
}


.mount_everest{
    height: 73vh;
     width: 100%;
    background-size: cover;
      background-image: 
    /* top, transparent red */
    linear-gradient(
      rgba(245, 244, 243, 0), rgb(0, 0, 0) ),
    /* your image */
    url(images/Mount_everest.jpg);   
}

.mount_everest p{
    font-size: 48px;
     color: white;    
    font-family: "Quicksand", sans-serif;
    background-image: linear-gradient( rgba(0, 0, 0, .9), rgba(0, 0, 0,0.5) );
    padding: 10px 20px 5px 20px;

    font-family: Futura, "Trebuchet MS", Arial, sans-serif;
/*    line-height: 60px;
    margin-bottom: 35px;
*/
    position: absolute;
     color: #fff;
    z-index: 100;
    /* font-size: 30px; */
    text-transform: uppercase;
top: 50%;
    left: 22%;
    font-size : 3vw;
}

.mount_everest h1{
    font-size: 48px;
     color: white;    
    font-family: "Quicksand", sans-serif;
    background-image: linear-gradient( rgba(0, 0, 0, .9), rgba(0, 0, 0,0.5) );
    padding: 10px 20px 5px 20px;
    font-family: Futura, "Trebuchet MS", Arial, sans-serif;
/*    line-height: 60px;
    margin-bottom: 35px;
*/
    position: absolute;
     color: #fff;
    z-index: 100;
    /* font-size: 30px; */
    text-transform: uppercase;
    top: 65%;
    left: 40%;
    font-size : 2vw;
}

/*.jumbotron.padma{
    background-color: #8DC97F;
}*/

/*first box* pic*/

img.img-thumbnail {

     background-color:#fff0 !important; 
     border: 0%  solid 0 !important; 
     border-radius: 0rem; 
}

/*.award1 {
padding-left: 7%;
padding-right: 0%;
}

.award2 {
padding-left: 0%;
padding-right: 7%;
}
*/

.jumbotron .awards3{
     background-color:#ffffff !important; 
padding-right: 0;

}


.row {
    margin-right: 0 !important;
    margin-left: 0 !important;
    /* margin-left: -15px; */
}

.col-lg-6.col-md-6.col-sm-12.col-xs-12.padma-pic {
    padding-left: 0;
    padding-right: 0
}

#award{
    padding-top: 3%;
}

.award-two{
    padding-right: 6%;
    padding-left: 6%;
    padding-top: 2%;
    background-color: #57ACC7;
}

/*Other awards*/

.other-awards{
    margin: 0 0 60px 0;
    color: #fff;
}

.other-awards h1{
    font-size: 2em;
    letter-spacing: 2px;
    font-weight: 200;
    text-transform: uppercase;
    line-height: 115%;
    text-align: center !important;
}
.heading{
    letter-spacing: .1em !important;
    color: aliceblue !important;
    margin-left: 10px !important;
    font-weight: 300 !important;
    font-family: futura !important;
    margin-bottom: 0px !important;
    font-size: 2.5rem !important;
}