
#theCarousel {
    width:100%;/*maintain aspect ratio*/
}
 

/* Text over carasoul */

.centered111 {
    font-size: 48px;
     color: white;    
    font-family: "Quicksand", sans-serif;
    background-image: linear-gradient( rgba(0, 0, 0, .9), rgba(0, 0, 0,0.5) );
    padding: 10px 20px 5px 20px;
    font-family: Futura, "Trebuchet MS", Arial, sans-serif;
    position: absolute;
    color: #fff;
    z-index: 100;
    text-transform: uppercase;
    top: 60%;
    left: 3%;
}

.centered111 h5{
    font-size : 3vw;
}
.centered111 h2{
    font-size : 5vw;
}


/******footer-part******/

.socialmedia ul li a{
    color: aliceblue;
}

.footer p{
    font-family: Futura !important;
}
.footer a{
    font-family: Futura !important;
    font-weight: 100 !important;
    
}
.footer{
    background-color: #222;
    color: aliceblue !important;
    padding: 30px !important;
    font-family: Futura !important;
}
.footer li.nav-item a{
    color:aliceblue;
}
.bar ul{
    padding: 10px;
}
.socialmedia{
    padding-bottom: 30px;
}


/* icons in footer */
.icon-container{
    font-size: 30px;
    height: 26px;
    width: 36px;
    display: inline-block;
    /* vertical-align: middle; */
    /* margin-right: 30px; */
    color: #fff;
    opacity: 0.6;

}
